{% extends "base.html" %}
{% block content %}
<section class="content glass">
  <h2>About AgriYield Predictor</h2>

  <p>
    <b>AgriYield Predictor</b> is a cutting-edge AI platform
    designed for farmers, agri-consultants, policymakers,
    and agri-business organizations.
  </p>

  <ul class="insights">
    <li>🔬 AI-based crop classification using Random Forest for high accuracy</li>
    <li>📊 Soil and climate intelligence for optimized farming</li>
    <li>🌱 Predicts the crop for your land</li>
    <li>📈 Top-3 recommended crops with probability scores</li>
  </ul>

  <p>
    Built to enable smarter, data-driven decisions and promote sustainable agriculture.
  </p>
</section>
{% endblock %}
